.App {
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(to right top, #000000, #0d070a, #150e14, #19141c, #1b1925, #1e2233, #1d2d40, #18384d, #0e4b60, #005f6f, #00737a, #188780);
  color: white;
}

.App-spinner {
  text-align: center;
}