body {
    color: white;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #24243e, #302b63, #0f0c29) fixed; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.App {
    text-align: center;
}

.App-image {
    padding-top: 4%;
    padding-bottom: 20px;
}