.-header {
    font-size: 1.5em;
  }

.rt-td {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
}

.ReactTable .rt-thead .rt-th.-sort-asc,
.ReactTable .rt-thead .rt-td.-sort-asc {
  box-shadow: inset 0 3px 0 0 rgba(255, 255, 255, 0.6)
}

.ReactTable .rt-thead .rt-th.-sort-desc,
.ReactTable .rt-thead .rt-td.-sort-desc {
  box-shadow: inset 0 -3px 0 0 rgba(255, 255, 255, 0.6)
}

.Table-card {
    box-shadow: 7px 10px 12px -5px rgba(0,0,0,0.56);
}

.Table-button {
    cursor: pointer;
}